# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Builds / outputs
out/
bin/
target/
build/
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers générés par l'app
# result.out

# Données d'entrée
# symptoms.txt
